body {
  background-image: url(../images/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 90vh;
}

h1 img {
  width: 60px;
  border-radius: 50%;
}

.w-50p {
  width: 100px;
}

.fs-3r {
  font-size: 3rem;
}
/* .t-50 {
  transform: translateY(30%);
} */

#searchInput {
  border: none;
}

.form-control:focus {
  box-shadow: -3px 6px 0 0rem rgba(13, 110, 253, 0.25);
}
